<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Chevpr!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <header class="header">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <%= if @current_user do %>
                <li><%= link "Profile", to: user_path(@conn, :show, @current_user) %></li>
                <li><%= link "Sign out", to: session_path(@conn, :delete, @current_user),
                                         method: "delete", form: [class: "navbar-form"],
                                         class: "btn btn-link" %></li>
              <% else %>
                <li><%= link "Register", to: user_path(@conn, :new) %></li>
                <li><%= link "Sign in", to: session_path(@conn, :new) %></li>
              <% end %>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </header>
    <%= display_alert(@conn) %>

    <main role="main" class="container">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
