<div class="row">
  <div class="col-sm-2 left-panel">
    <h1><%= @channel.name %></h1>
  </div>
  <div class="col-sm-10">
    <div class="messages">

    </div>
    <div class="message-input">
      <input type="text" class="form-control">
    </div>

  </div>
</div>
