<div class="row">
  <div class="col-sm-2 left-panel">
    <h1><%= @channel.name %></h1>
  </div>
  <div class="col-sm-10">
    <new-message channel-id="<%= @channel.id %>"
                 csrf="<%= Plug.CSRFProtection.get_csrf_token() %>"
                 user-token="<%= @user_token %>">
    </new-message>
  </div>
</div>
